.body {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
  height: calc(100% - 250px);

  padding: 20px 0;
}

.body header button {
  background: none;
  font-size: 20px;
  text-decoration: underline;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.body .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 50px;

  width: 100%;
  height: 100%;
}

.card .card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.card .card-body .card-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  height: 86%;
}

.card .card-body .card-header .card-header-status {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-end;

  margin-top: 30px;

  text-align: center;
  vertical-align: middle;
}

.card .card-body .card-header .card-header-status span {
  background: black;

  width: 130px;
  padding: 15px;
}

.card .card-body .card-header .card-header-title {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  margin-left: 10px;
}

.card .card-body .card-footer {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  height: 14%;

  font-size: 13px;

  background: #000;
  padding-left: 10px;
}

.card .card-body .card-footer .birth {
  margin-top: 10px;
}

.card .card-body .card-footer p span {
  line-height: 13px;

  border-left: 1px solid #fff;
  padding: 0 5px;
}

.card .card-body .card-footer p span:first-child {
  border: none;
}

.body .loading {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.body .loading .loading-img {
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  .body .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 30px;

    width: 100%;
    height: 100%;
  }

  .card .card-body .card-footer {
    height: 20%;

    font-size: 12px;
  }
}
